/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: center;
    background-image: none; /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    /* background-repeat: no-repeat; */
    background-color: yellow;
    color: orange;
    font-family: Consolas;
    font-size: 12px;
    border: 1px solid red;
}
.site-box > * {
    font-weight: bold;
}
.site-box > a > p {
    color: var(--darkbrown);
}
.site-box > a > span {
    color: var(--darkbrown);
}